body{
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	background-color:#fff;
}
.head{
	background-image: linear-gradient(rgba(144, 155, 132, .2), rgba(244, 255, 232, .2));
	padding: 1em;
	padding-bottom: 0;
	border-radius: 4px;
	overflow: hidden;
}

.head ul{
	list-style-type: none;
	padding: 0;
	margin:0;
}
.head ul li a{
	text-decoration: none;
	color: #444;
	padding: .6em;
	border-radius: 3px;
	transition: 300ms ease-in-out;
}
div p.clearfix{
	visibility: hidden;
}
.head ul li a:hover{
		background-color:rgba(144, 155, 132, .1);
		color: #000;
		transition: 300ms ease-in-out;
}
form{
	background-image: linear-gradient(rgba(244, 255, 232, .2), rgba(144, 155, 132, .2));
	padding: 1em;
	border-radius: 4px;
	width: 50%;
	margin: 0 auto;
}
h1{
	font-family: sans-serif;
}

button{
	width: 100px;
	margin-top: 10px;

}

#posts{
	margin: 3em 0em 3em 0;
}

#posts div.posts{
	width: 50%;
	margin: 0 auto;
	padding: 1em;
	background-image: linear-gradient(rgba(144, 155, 132, .2), rgba(244, 255, 232, .2));
}
#posts div.posts span{
	margin-right: 20px;
}
#posts div.posts span:nth-child(2){
	font-weight: none;
	color: cornflowerblue;
	font-size: 14px;
}
#posts div.posts p{
	padding: 1.5em 0em 1.5em 0em;
	font-weight: none;
	color: #333;
	font-size: 14px;
}
@media(max-width:500px){
	form{
		width: 100%;
		margin: 0;
		padding: .5em; 
	}
	#posts{
		margin: 3em 0em 3em 0;
	}

	#posts div.posts{
		width: 100%;
		margin: 0 auto;
		padding: 1em;
		background-image: linear-gradient(rgba(144, 155, 132, .2), rgba(244, 255, 232, .2));
	}
	#posts div.posts span{
		margin-right: 20px;
	}
	#posts div.posts span:nth-child(2){
		font-weight: none;
		color: cornflowerblue;
		font-size: 14px;
	}
	#posts div.posts p{
		padding: 1.5em 0em 1.5em 0em;
		font-weight: none;
		color: #333;
		font-size: 14px;
	}
}

ul.list-group li{
	height: 80px;
	line-height: 50px;
}
#posts div.posts textarea{
	padding: .5em;
	width: 100%;
	border: none;
}